node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# Source files
.env*.local
*.tsbuildinfo

# Google Firebase
firebaseConfig.js
.firebaserc
